{%  extends "home/base.html" %}
{% block nav_item_about %}active{% endblock nav_item_about %}

{% block content %}
    <div class="body-left">



<h1>ABOUT</h1>
    <p>Hi! It's Esther or TimeEnjoyed, and I am a budgie painter and a coder.</p>

    <p>In Jan 2021, I made my first budgie painting, and proceeded to make 100 more for other people on <a href="https://www.instagram.com/time.enjoyed">Instagram</a> and <a href="http://www.etsy.com/shop/watercolorbudgies">Etsy</a>. I still paint at least once a week.</p>

    <p>In Feb 2022, I began learning to code in Python on Twitch just to see how I would like it. I met a lot of helpful people along the way that inspired me to continue on my journey. In Feb 2023, timeenjoyed.dev went live, and it will be my forever project. Thanks for checking it out!</p>



Click
<a href="{% url 'home:new_suggestion' %}">here</a> to add a suggestion.


    </div>


{% endblock content %}
