{% load static %}

<!DOCTYPE html>
<html lang="en">

{#Bootstrap#}
<link rel="stylesheet" type="text/css"
      href="{% static 'home/css/bootstrap.css' %}"/>

{#Custom CSS to override certain elements of bootstrap#}
<link rel="stylesheet" type="text/css" href="{% static 'home/custom.css' %}">

<head>
    <meta charset="UTF-8">
    <title>TimeEnjoyed - Abode</title>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:index' %}">
            <img alt="logo"
                 src="https://cdn.discordapp.com/attachments/966102260377600011/1014942601788534844/Untitled_Artwork.png"
                 width="20">TimeEnjoyed Abode
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">

                    <a class="nav-link {% block nav_item_about %}{% endblock nav_item_about %}"
                       href="{% url 'home:about' %}">About</a></li>
                <li class="nav-item">

                    <a class="nav-link {% block nav_item_blog %}{% endblock nav_item_blog %}"
                       href="{% url 'blog:post-list' %}">Blog</a></li>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle {% block nav_item_coding %}{% endblock nav_item_coding %}" href="{% url 'home:coding' %}" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">Coding</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{% url 'home:story' %}">Story</a></li>
                                {#                        <li><a class="dropdown-item" href="#">Projects</a></li>#}
                                {#                        <li><hr class="dropdown-divider"></li>#}
                                {#                        <li><a class="dropdown-item" href="#">Resources</a></li>#}
                            </ul>
                        </li>
                    </ul>
                </div>

                <li class="nav-item">
                    <a class="nav-link {% block nav_item_to_wc %}{% endblock nav_item_to_wc %}" href="{% url 'home:watercolor' %}">Watercolor</a>
                </li>

                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="{% url 'login:profile' %}">You</a>#}
                {#                </li>#}
            </ul>


            {#      Search Bar#}
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>


        </div>
</nav>


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}

                <li class="navbar-brand">
                    Welcome, {{ user.username }}!</li>

                <li class="nav-item">
                    <a class="nav-link {% block nav_item_profile %}{% endblock nav_item_profile %}" href="{% url 'home:profile' %}">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% block nav_item_to_do %}{% endblock nav_item_to_do %}"
                       href="{% url 'home:todo' %}">To Do</a></li>

                <li class="nav-item">
                    <a class="nav-link {% block nav_item_logout %}{% endblock nav_item_logout %}" href="{% url 'account_logout' %}">Logout</a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link {% block nav_item_login %}{% endblock nav_item_login %}" href="{% url 'account_login' %}">Login with Twitch</a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>

{##}
{#<main role="main" class="container">#}
{#    <div class="pb-2 mb-2 border-bottom">#}
{#        {% block page_header %}#}
{#        adfd {% endblock page_header %}#}
{#    </div>#}
{##}
{##}
    <div class="container-sm">
        {% block content %}adfadfad{% endblock content %}
    </div>
{#</main>#}
</body>
</html>