{%  extends "home/base.html" %}

{% block content %}


<main class="body-whole">
    <div class="body-left">
        {% load bleach_tags %}
        {% for post in post_list %}
                <section class="blog-card">
                    <hgroup>
                        <div class="blog-title"><a href="{% url "blog:post-details" post.pk %}">{{ post.title }}</a>
                            <div class="blog-header">
                                <time class="blog-date" datetime="2023-01-01">{{ post.published_at }}</time>
                                <div class="blog-author">{{ post.author }}</div>
                            </div>
                        </div>
                    </hgroup>
                    <article class="blog-entry">
                        {{ post.body|truncatechars_html:200|bleach:"pre,p,code,a,strong,ul,li,fieldset,label,caption" }}
                    </article>
                </section>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if post_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ post_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
                </span>

                {% if post_list.has_next %}
                    <a href="?page={{ post_list.next_page_number }}">next</a>
                    <a href="?page={{ post_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>


{% endblock content %}
