{%  extends "home/base.html" %}

{% block content %}



<body>
{% if user.is_authenticated %}

    <div class="container">

    <form class="form-control tarot-form" method="post" action="{% url 'home:tarot' %}">
        {% csrf_token %}
         <h3>Tarot Reader:</h3>
        <div class="input-group input-group-sm mb-3">
            Hi {{ user }}
        </div>
            <select class="form-select" name="num" id="card-number">
                <option value="">--number of cards--</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=5>6</option>
            </select>

        <button type="submit">Get reading</button>
    </form>
</div>


# Question: How to submit to a particular view...

{% else %}

<div class="container">

    <form class="form-control tarot-form" method="post" action="{% url 'home:tarot' %}">
        {% csrf_token %}
         <h3>Tarot Reader:</h3>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
            <select class="form-select" name="num" id="card-number">
                <option value="">--number of cards--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

        <button type="submit">Get reading</button>
    </form>
</div>


{% endif %}


{{ request_data }}


</body>

{% endblock content %}

