{%  extends "home/base.html" %}

{% block content %}


<body>

Timeenjoyed is currently <b>{{ status }}</b>.

{% if user.is_authenticated %}

<div class="container">
    <form class="form-control tarot-form" method="post" action="{% url 'home:tarot' %}">
        {% csrf_token %}
        <h3>Tarot Reader:</h3>
        <div class="input-group input-group-sm mb-3">
            Hi {{ user }}
        </div>
            <select class="form-select" name="num" id="card-number">
                <option value="">--number of cards--</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
            </select>


        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    More options:
        </a>

        <div class="collapse card" id="collapseExample">
{#            <div class="card card-body">#}
                <input class="display-none" name="question" type="text" placeholder="What's your question?" style="width: 100%; ;">

{#            </div>#}
        </div>

        <button type="submit">Get reading</button>

    </form>

</div>

{% else %}

<div class="container">
    <form class="form-control tarot-form" id="tarot-form" method="post" action="{% url 'home:tarot' %}">
        {% csrf_token %}
         <h3>Tarot Reader:</h3>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
            <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
            <select class="form-select" name="num" id="card-number">
                <option value="">--number of cards--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

        <button id="submit-btn" type="submit">Get reading</button>

        <span class="hi-user">Hi {{ user.title }}, you got:</span>
        <div class="basic-tarot-read">
            {% for card in random_cards %}
                <li>{{ card }}</li>
            {% endfor %}
        </div>
    </form>
</div>
{% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
      $('.collapse').on('shown.bs.collapse', function() {
        $('#my-input').show();
      });
    });
</script>

</body>
{% endblock content %}
