{% extends "home/base.html" %}


{% block nav_item_about %}active{% endblock nav_item_about %}


{% block content %}
    <div class="body-left">
        <div>
            <p>Feel free to use this form to share any suggestions or feedback with me. If you're part of Discord, share it in the #general channel.</p>
        </div>

        <form method="post">

        {% csrf_token %}
        {{ form.as_p }}

            <div>
                <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
