{%  extends "home/base.html" %}

{% block content %}

    <title>Your profile</title>

<body>

Hello {{ user | title}}!

<div class="main">
    <!-- Display attributes of instance -->
    Your MBTI:<br>{{ data.user_mbti }} <br>
    Your Childhood Activities: {{ data.childhood_hobbies }}
</div>
<div>

<form method="post"  action="/profile/">
    {% csrf_token %}
    {% for field in form %}
        {{ user.username }}
    {{ field.label_tag }}<br>
        <font size="2">{{ field.help_text|safe }}</font><br>
        {{ field.test_item }}
    {{ field }}<br>
    {% endfor %}

    <button type="submit" name="save">Save</button>
</form>
</div>



</body>



{% endblock content %}