{%  extends "home/base.html" %}
{% block nav_item_profile %}active{% endblock nav_item_profile %}

{% block content %}

    <title>Your profile</title>

<body>

<h3>Hellooooo {{ user | title}}!</h3>

<div class="main">
    <!-- Display attributes of instance -->
    Your MBTI:<br>{{ user.profile.user_mbti }} <br>
    Your Childhood Activities: {{ user.profile.childhood_hobbies }}

    <br>
    <a href="{% url 'home:index' %}">Return Home</a>
</div>
<div>
<br>

{% if form %}
<form method="post"  action="/profile/">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}<br>
        {{ field.help_text|safe }}<br>
        {{ field }}<br>
    {% endfor %}

    <button type="submit" name="save">Save</button>
</form>
{% endif %}
</div>



</body>



{% endblock content %}