{%  extends "home/base.html" %}
{% block nav_item_profile %}active{% endblock nav_item_profile %}
{#This form creates a new list.#}

{% block content %}

    <h3>{{ title }}</h3>
    <div>
    PROFILE_FORM.HTML => MAYBE DELETE?
    <div>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <input value="Save" type="submit">
            <input value="Cancel" type="button"
                onclick="location.href='{% url "home:profile" %}'">
        </form>
    </div>
    </div>

{% endblock content %}
