{%  extends "home/base.html" %}
{% block content %}
    <title>Real Python.com To-Do Items</title>
<body>
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            <h5>{{ shows_list | upper }}</h5>
        </div>
        <ul>
            {% for todo in object_list %}
            <li>{{ todo }}
                <div>
                    <div
                        role="button"
                        onclick="location.href='{% url "home:item-update" shows_list.id todo.id %}'">
                        {{ todo.title }}
{#                        (Due {{ todo.due_date }})#}
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Add a new item"
                type="button"
                onclick="location.href='{% url "home:item-add" shows_list.id %}'" />
            <input
                value="Delete this list."
                type="button"
                onclick="location.href='{% url 'home:list-delete' shows_list.id %}'"/>
        </p>
    </div>
</div>
</body>
{% endblock %}


