{%  extends "home/base.html" %}
{% block nav_item_story %}active{% endblock nav_item_story %}
{% block content %}

<div class="box">
In brief - to be updated
<ul>
    <li>Worked as behavioral therapist for years, until shelter in place</li>
    <li>Took a break from working and painted budgies</li>
    <li>Decided I need to go back to school</li>
    <li>Friends said I could just learn to code</li>
    <li>Gave myself a month with learnpython.org</li>
    <li>Started streaming the tutorial</li>
    <li>Got bombarded with resources</li>
    <li>Decided I have everything I need</li>
    <li>and it goes on</li>
</ul>
</div>
{% endblock %}
