{%  extends "home/base.html" %}
{% block nav_item_about %}active{% endblock nav_item_about %}

{% block content %}
    <div class="body-left grow">

    {% if user.is_authenticated %}

        <div class="page-header">
            <div>Hi {{ user.username }},</div>
            <div>Here's your tarot read result!</div>
         </div>

        <div><b>Who:</b> {{ specific_read.user }}</div>
        <div><b>When:</b> <time datetime={{ specific_read.date_time|date:"c" }}> </time></div>
        <div><b>Extra context:</b> {{ specific_read.question }}</div>
        <div><b>Rating:</b> {{ specific_read.rating }}</div>
        <div>

        {% if request.method == 'GET' %}
            Your tarot read has been saved.
            <form method="post" action='{% url "home:tarot-detail" read_id %}'>
                {% csrf_token %}
                <div><b>Extra context:</b> {{ specific_read.question }}</div>
                {{ form.question }}
                <b>Rating:</b> {{ specific_read.rating }}
                <div class="flex row">
                    {{ form.rating }}

                    <button type="submit" onclick="location.href='{% url "home:tarot-detail" read_id %}'">Update</button>
                </div>
            </form>
        {% endif %}
        </div>


        <div class="blog-card"><h3>Your cards:</h3>
            {% for card in specific_read.card_ids.all %}
                {{ card }}
                <details>
                    <summary>{{ card.name }}</summary>
                    <p>{{ card.keywords }}</p>
                    <p>{{ card.description }}</p>
                </details>
            {% endfor %}
        </div>

    <div class="flex column center space-around">
{#        <form action="{% url 'home:tarot-detail' read_id %}" method="get">#}
{#            {% csrf_token %}#}
{#            <button type="submit" value="Update">Update</button>#}
{#        </form>#}

        <form action="{% url 'home:tarot-delete' read_id %}" method="post">
            {% csrf_token %}
            <button type="submit" value="Delete">Delete</button>
        </form>
    </div>

    <a href="{% url 'home:tarot-list' %}" style="margin-top:3rem">Back to collective list</a>
      </div>


    {% else %}
        Currently you need to login to view the collective list of tarot reads. ^_^
    {% endif %}

    </div>

{% endblock content %}
