{% extends "home/base.html" %}

{% block content %}


    <div class="body-left">

        {# below: shows a single tarot read from authorized user, and gives choice to update it#}

        {% if auth_read %}

            {#            (1/2) POST a read from sidebar:#}
            <div style="display: flex; flex-grow: 1;">
                <div class="page-header flex row">
                    <div>Hi {{ request_obj.user }},</div>
                    <div>Here's your read:</div>
                </div>
                <div class="page-body flex col left">


                Take the field (requires JS)
                convert it into local time



                    <div>Whenn: <span id="tarot_dt">{{ request_obj.date_time.strftime('%Y-%m-%dT%H:%M:%SZ') }}</span></div>





                    <div>Extra context: {{ request_obj.question }}</div>
                    <div>Your cards:</div>
                    {% for card in request_obj.card_ids.all %}
                        <details>
                            <summary>{{ card.name }}</summary>
                            <p>{{ card.keywords }}</p>
                            <p>{{ card.description }}</p>
                        </details>
                    {% endfor %}
                </div>
            </div>


            {#            (2/2) GET list of all the reads from navbar#}


{##}
{#            <div class="pagination">#}
{#                <span class="step-links">#}
{#                    {% if reads.has_previous %}#}
{#                        <a href="?page=1">&laquo; first</a>#}
{#                        <a href="?page={{ reads.previous_page_number }}">previous</a>#}
{#                    {% endif %}#}
{##}
{#                    <span class="current">#}
{#                        Page {{ reads.number }} of {{ reads.paginator.num_pages }}.#}
{#                    </span>#}
{##}
{#                    {% if reads.has_next %}#}
{#                        <a href="?page={{ reads.next_page_number }}">next</a>#}
{#                        <a href="?page={{ reads.paginator.num_pages }}">last &raquo;</a>#}
{#                    {% endif %}#}
{#                </span>#}
{#            </div>#}

            {# above: shows a single tarot read from authorized user, and gives choice to update it#}

        {% else %} {# meaning, page loaded from non-authorized user #}
            <div class="page-header flex col grow">
                Log in to view your tarot read history!
            </div>

            {#            tarot_list view below:#}
            {% for read in all_reads %}
                {{ read.user }}
            {% endfor %}


        {% endif %}

    </div>

{% endblock content %}
