{%  extends "home/base.html" %}
{% block nav_item_to_do %}active{% endblock nav_item_to_do %}

{% block content %}

<div class="body-left">

    <div class="page-header flex col">
        <h3> All Our Lists</h3>
        <p> Below are all our to-do lists. Feel free to make your own!</p><button
        value="Add a new list"
        type="submit"
        onclick="location.href='{% url "home:list-add" %}'">Add a new list</button>
    </div>
    <div class="page-body flex col">
        <div class="filter-links">
            <p>Box 1: Will have pill-boxes where you can filter by author</p>
        </div>


        <ul class="flex col">
        {% for todolist in object_list %}
            <li>
                <a href="{% url "home:list2" todolist.id %}">
                    {{ todolist | upper }}</a> | <small>{{ todolist.author }}</small>
           </li>
            {% empty %}
            <h4>You have no lists!</h4>
            Create a new To-Do list <a href="{% url 'home:list-add' %}">here</a>.

        {% endfor %}
        </ul>


    </div>

</div>

{% endblock content %}
