{% extends "home/base.html" %}
{% block nav_item_to_do %}active{% endblock nav_item_to_do %}


{% block content %}
<main class="body-whole">
<div class="body-left">

    <div class="page-header flex col">

        <h2>{{ shows_list | upper }} | {{ shows_list.author }}</h2>

        <button
                type="button"
                onclick="location.href='{% url "home:item-add" shows_list.id %}'"
        >Add a new item</button>
        <button
                type="button"
                onclick="location.href='{% url "home:list-delete" shows_list.id %}'">
            Delete this list</button>
        </div>

        <div class="flex col">
            <h6>Incomplete:</h6>
            <ul class="flex col todo-incomplete">
                {% for todo in object_list %}
                    {% if not todo.complete %}
                        <li>

                            <div class="blog-author">{{ todo.author }} (<a class="btn-box" href='{% url "home:item-update" shows_list.id todo.id %}'>Edit</a>)</div>

                            <div class="blog-card page-body" style="margin-left: .5rem">
                            {{ todo }}

                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="flex col">
            <h6>Complete:</h6>
            <ul class="flex col todo-complete">
                {% for todo in object_list %}
                    {% if todo.complete %}
                        <li>
                            <div>
                                <div class="blog-author">{{ todo.author }} (<a class="btn-box" href='{% url "home:item-update" shows_list.id todo.id %}'>Edit</a>)</div>

                                <div class="blog-card page-body" style="margin-left: .5rem">
                                {{ todo }}

                            </div>

                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
