{% extends "home/base.html" %}
{% block nav_item_to_do %}active{% endblock nav_item_to_do %}


{% block content %}

<h4>{{ shows_list | upper }}</h4>
<div class="box">
    <div style="margin-bottom: 10px">
        <input
                value="Add a new item"
                type="button"
                onclick="location.href='{% url "home:item-add" shows_list.id %}'"
        />
        <input
                value="Delete this list"
                type="button"
                onclick="location.href='{% url "home:list-delete" shows_list.id %}'"
        />
    </div>
    <div class="todo_incomplete p-2">
        <h6>Incomplete:</h6>
        <ul>
            {% for todo in object_list %}
                {% if not todo.complete %}
                    <li class="li_items">
                        <div id="div-list">
                            <a id="todo-item-link" onclick="location.href='{% url "home:item-update" shows_list.id todo.id %}'">
                                {{ todo|truncatechars_html:50 }}</a> | <span class="author">{{ todo.author }}</span>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="todo_complete p-2">
        <h6>Complete:</h6>
        <ul>
            {% for todo in object_list %}
                {% if todo.complete %}
                    <li class="li_items">
                        <div id="div-list">
                            <a id="todo-item-link" style="color:#0a53be"
                                onclick="location.href='{% url "home:item-update" shows_list.id todo.id %}'">
                            {{ todo|truncatechars_html:50 }} | <span class="author">{{ todo.author }}</span>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>



</div>

{% endblock %}
