{% with id=widget.attrs.id|stringformat:'s' choice_value=widget.value|stringformat:'s' %}
    {% if forloop.first %}
        <input
                type="checkbox"
                name="{{ widget.name }}"
                id="{{ id }}_0" value=""
                {% if not widget.value %}
                    checked
                {% endif %}
                style="display:none">
    {% endif %}

    <input
            type="checkbox"
            name="{{ widget.name }}"
            value="{{ choice_value }}"
            id="{{ id }}_{{ forloop.counter }}"
            {% if choice_value in widget.value %}
                checked
            {% endif %}>
    <label style="width:30px;" for="{{ id }}_{{ forloop.counter }}">{{ option.label }}</label>
{% endwith %}
