{% with id=widget.attrs.id|stringformat:'s' choice_value=widget.value|stringformat:'s' %}
    <div class="pill-container">
    <input
            type="checkbox"
            class="checkbox"
            name="{{ widget.name }}"
            value="{{ choice_value }}"
            id="{{ id }}"
            style="display:none"

            {% if widget.attrs.checked %}
                checked
            {% endif %}>

    <label class="pill" for="{{ id }}">
           {{ option.label }}
    </label>
    </div>
{% endwith %}
