{%  extends "home/base.html" %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}

{% load static %}
{% block head %}
{#    Ck-Editor Syntax Highlighting CSS#}
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}" />
<script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
{% endblock head %}


{% block content %}

    <title>Our Blog Posts</title>

<body>

<h3>Check out our collective blog posts :) </h3>

<a href="{% url "blog:post-create" %}">Add a new entry</a>


{% for p in pub %}
    {{ p }}
{% endfor %}

<hr>
{% for post in object_list %}


    <div class="card mb-3">
    <h4 class="card-header">
        <a href="{% url "blog:post-details" post.pk %}">{{ post.title }}</a>
        <small>- {{ post.author }}
            <a href="{% url "blog:post-update" post.pk %}">edit</a> |
            <a href="{% url "blog:post-delete" post.pk %}">delete</a></small></h4>
    <h6>Published: {{ post.published_at }} |
        Categories:
        {% for category in post.categories.all %}
        <a href={% url "blog:categories" category %}>{{ category }}</a>
            {% endfor %}</h6>

    <div class="card-body">

    {{ post.body|slice: ":200" }}

    </div>
    </div>

{% endfor %}


<script>hljs.initHighlightingOnLoad();</script>
</body>



{% endblock content %}