{%  extends "home/base.html" %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}
{% block content %}

    <title>Our Blog Posts</title>

<body>

<h3>Check out our collective blog posts :) </h3>

<a href="{% url "blog:post-create" %}">Add a new entry</a>


{% for p in pub %}
    {{ p }}
{% endfor %}

<hr>
{% for post in object_list %}


    <div class="card mb-3">
    <h4 class="card-header">
        <a href="{% url "blog:post-details" post.pk %}">{{ post.title }}</a>
        <small>- {{ post.author }}
            <a href="{% url "blog:post-update" post.pk %}">edit</a> |
            <a href="{% url "blog:post-delete" post.pk %}">delete</a></small></h4>
    <h6>Published: {{ post.published_at }} |
        Categories:
        {% for category in post.categories.all %}
        <a href={% url "blog:categories" category %}>{{ category }}</a>
            {% endfor %}</h6>

    <div class="card-body">

    {{ post.body|slice:":200"|safe}}

    </div>
    </div>

{% endfor %}



</body>



{% endblock content %}