{%  extends "home/base.html" %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}


{% load static %}
{% load bleach_tags %}





{#THIS PAGE DISPLAYS ALL THE POSTS IN A UNIQUE CATEGORY#}

{% block content %}
<body>
    <h3>{{ categ_name }} Posts</h3>

{% for post in category_posts %}


    <div class="card mb-3">
    <h4 class="card-header">
        <a href="{% url "blog:post-details" post.pk %}">{{ post.title }}</a>
        <small>- {{ post.author }}
            <a href="{% url "blog:post-update" post.pk %}">edit</a> |
            <a href="{% url "blog:post-delete" post.pk %}">delete</a></small></h4>
    <h6>Published: {{ post.published_at }} |
        Categories:
        {% for category in post.categories.all %}
        <a href={% url "blog:categories" category %}>{{ category }}</a>
            {% endfor %}</h6>

    <div class="card-body">

{#        TODO: Add safe and safe validation later#}

        {{ post.body|bleach:"pre,p,code,a,strong,ul,li,fieldset,label,caption"|slice:":200" }}


    </div>
    </div>

{% endfor %}


<script>hljs.initHighlightingOnLoad();</script>
</body>
{% endblock content %}
