{%  extends "home/base.html" %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}
{#THIS PAGE DISPLAYS A UNIQUE POST.#}

{% block content %}

    <p>post_details.html displays a unique post.</p>
    <br>

    <h2>Title: {{ post.title }}</h2>
    <h5>Categories: {% for category in post.categories.all %}
        <a href={% url "blog:categories" category %}>{{ category }}</a>
            {% endfor %}</h5>
    Post: {{ post.body|safe }}

    <a href="{% url "blog:post-update" post.pk %}">Update</a>
    <a href="javascript:history.back()">Go Back</a>


{% include 'blog/blogposts.html' %}

{% endblock content %}