{%  extends "home/base.html" %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}

{% load static %}
{% block head %}
{#    Ck-Editor Syntax Highlighting CSS#}
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}" />
<script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
{% endblock head %}

{% block content %}

    <h3>Update Post</h3>

<div class="mb-3">
<form method = 'POST' class="form-group">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

    <input value="Save" type="submit" class="form-control" id="exampleFormControlInput1">
</form>
</div>


<script>hljs.initHighlightingOnLoad();</script>
{% endblock content %}