{%  extends "home/base.html" %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}

{% block content %}

<main class="container-sm">

 <form method="post" class="blog-form">
        {% csrf_token %}

        {{ form.title.label_tag }} {{ form.title }}
        {{ form.tldr.label_tag }} {{ form.tldr }}

        {{ form.categories.label_tag }}
        {{ form.categories }}

        {{ form.status.label_tag }}
        {{ form.status }}

        {{ form.body.label_tag }} {{ form.body }}

        <input type="submit" value="Submit">
</form>

</main>

{% endblock content %}
