{%  extends "home/base.html" %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}

{% load static %}
{#THIS PAGE DISPLAYS A UNIQUE POST.#}




{% block content %}


    <h2>{{ post.title }}</h2>
    <h5>Categories: {% for category in post.categories.all %}
        <a href={% url "blog:categories" category %}>{{ category }}</a>
            {% endfor %}</h5>
    <hr>
    <br>
    <br>
{#    TODO: fix v#}
    <span class="markdownx-preview">
        {{ post.body|safe }}
    </span>
    <br>
    <br>
    <a href="{% url "blog:post-update" post.pk %}"><button type="text">Update</button></a>
    <a href="javascript:history.back()"><button type="text">Go Back</button></a>
    <br>
    <br>

    Pressing this button removes the post and it can't be undone: <a href="{% url "blog:post-delete" post.pk %}">Delete</a>





<script>hljs.initHighlightingOnLoad();</script>
{% endblock content %}
