a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.blog-form {
    max-width: 870px;
}
#category-override.ck-button {
    display:flex;
    justify-content: space-evenly;
}
.todo_complete {
    color: grey;
    line-height: .5em;
}

.todo_incomplete {
    line-height: .5em;
}
.author {
    font-size: 1vw;
    color: grey;
}
