#bootstrap-overrides body {
    color: blue !important;
}

#bootstrap-overrides h1 {
    color: blue;
}

#boostrap-overrides p.uppercase {
    text-transform: uppercase;
}
.blog-form {
    max-width: 870px;
}

#category-override.ck-button {
    display:flex;
    justify-content: space-evenly;

}
